
<h1>Stupid Coaching</h1>

<div class="user">
  <p><%= @message %></p>
  <p>-You</p>
</div>

<div class="coach">
<p><%= @answer %></p>
<p>-Your coach</p>
</div>

<%= link_to 'Ask a new question', ask_path %>
